@font-face {
  font-family: motorway;
  src: url('motorway.ttf'); /* From: http://www.dafont.com/motorway.font */
}

/* iOS slider */
.iosSlider {
  width: 100%;
  height: 80px;
}

.iosSlider .slider {
  width: 100%;
}

.iosSlider .slider .item {
  position: relative;
  top: 0;
  left: 0;
  width: 130px;
  height: 60px;
  background: #F9F9F9;
  margin: 0 0 0 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*jQuery mobile overrides */
.ui-li-thumb, .ui-listview .ui-li-icon {
  max-width: 120px;
}

.ui-content {
  padding: 5px;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* recent submissions */
.recent_submission .plate_image {
  -o-background-size:      120px 60px;
  -webkit-background-size: 120px 60px;
  -khtml-background-size : 120px 60px;
  -moz-background-size:    120px 60px;
  background-position: center center;
}
.timeago {
  padding-top: 5px;
  text-align: center;
}
.recent_submission .plate_text_container {
  float: right;
}
.recent_submission .plate_text {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 120px;
    font-size: 29px; 
    text-align: center;
    text-transform: uppercase;
    font-family: motorway;
}
.recent_submission .comment {
    font-size: 14px;
    font-face: Helvetica, sans-serif;
    word-wrap: break-word;
    line-height: 1;
    height: 70px;
    white-space: normal;
    overflow: hidden;
    margin-top: 5px;
}

#license_plate {
  text-transform: uppercase;
}

/* States that need white text */
.de, .in, .mt, .vt {
  color: white;
  text-shadow: 0 -1px 0 black;
}
/* Dark red */
.ma {
  color: #B40404;
  text-shadow: 0 -1px 0 white;
}

/* Dark blue */
.pa, ny {
  color: #0B0B61;
  text-shadow: 0 -1px 0 white;
}
