@font-face {
  font-family: motorway;
  src: url('motorway.ttf'); /* From: http://www.dafont.com/motorway.font */
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;

/*
  THIS IS SPOSTA MAKE TRANSITIONS FASTER
  SEEMS TO REQUIRE CHANGE TO .plate_text (remove top & right styles)
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
*/
}

/* iOS slider */
.iosSlider {
  width: 100%;
  height: 80px;
}

.iosSlider .slider {
  width: 100%;
}

.iosSlider .slider .item {
  position: relative;
  top: 0;
  left: 0;
  width: 130px;
  height: 60px;
  background: #F9F9F9;
  margin: 0 0 0 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*jQuery mobile overrides */
.ui-li-thumb, .ui-listview .ui-li-icon {
  max-width: 120px;
}

.ui-content {
  padding: 5px;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* recent submissions */
.recent_submission .plate_image {
  -o-background-size:      120px 60px;
  -webkit-background-size: 120px 60px;
  -khtml-background-size : 120px 60px;
  -moz-background-size:    120px 60px;
  background-position: center center;
}
.timeago {
  padding-top: 5px;
  text-align: center;
}
.recent_submission .plate_text_container {
  float: right;
}
.recent_submission .plate_text {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 120px;
    font-size: 29px; 
    text-align: center;
    text-transform: uppercase;
    font-family: motorway;
}
.recent_submission .comment {
    font-size: 14px;
    font-face: Helvetica, sans-serif;
    word-wrap: break-word;
    line-height: 1;
    height: 72px;
    white-space: normal;
    overflow: hidden;
    margin-top: 5px;
}

#license_plate {
  text-transform: uppercase;
}

/* States that need white text */
.de, .in, .mt, .vt {
  color: white;
  text-shadow: 0 -1px 0 black;
}
/* Dark red */
.ma {
  color: #B40404;
  text-shadow: 0 -1px 0 white;
}

/* Dark blue */
.pa, .ny, .ct {
  color: #0B0B61;
  text-shadow: 0 -1px 0 white;
}

/* Validation */
input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC');
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}
input:required:valid, textarea:required:valid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=');
  background-position: right top;
  background-repeat: no-repeat;
}
